
<style>
.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 20px 10px rgba(0, 0, 0, 0.12)
;

  
  border: 1px solid grey;
  padding: 20px;
  margin: 30px auto;
  background: white;
  border-radius: 30px;
}



}
   </style>
{{#if carttotal}}
{{!-- <section>
  <div class="container">
    <div class="table-responsive">
    
<table class="table mt-5 "style="text-align:center" >
  <thead>
    <tr>
      
      <th scope="col" >Product</th>
      <th scope="col">Price</th>
      <th scope="col" >Quantity</th>
      <th scope="col">Netprice</th>
      <th scope="col">Action</th>
      
      
      
    </tr>
  </thead>
  
  <tbody>
    {{#each cartproduct}}
    <tr>
      
      <td><img src="/product-image/{{this.products._id}}.jpg" style="height:50px;width:50px;">{{this.products.name}}</td>
      <td>{{this.products.price}}</td>
      
      
      
      <td><button  class="qty-btn " onclick="changeQuantiy('{{this._id}}','{{this.products._id}}',-1)">-</button> <span id="{{this.products._id}}"> {{this.quantity}}  </span> <button class="qty-btn " onclick="changeQuantiy('{{this._id}}','{{this.products._id}}',1)">+</button></td>
      <td id="{{this.products._id}}price">{{this.netprice}}</td>
      <td>
      <a type="button" class="remove-btn" href='/remove-cart-product/{{this.products._id}}' onclick="return confirm('Are you sure delete {{this.products.name}}?')">Remove</a>
</td>
</tr>
        {{/each}}
      
      
      
    
    
    
    
   
  </tbody>
</table>
    </div>
<hr>
       

<div class="row float-right mr-4" align='right'>
<div >
 
      <h4 class="float-right mr-5"> Total Amount: Rs.<span id="total">{{carttotal}}</span> </h4> </div><div>
      <a href="/placeorder" class="btn-4 btn-4a icon-arrow-right">Order Now</a>
      </div>
</div>
</div>
</section> --}}
<section >
  <div class="container mt-5" >
<div class=" row">
  <div class="col-md-9">
  {{#each cartproduct}}
  
    <div class="box row">
<div class="col-4">
  <img src="/product-image/{{this.products._id}}.jpg" style="height:100px;width:90px;">
  <h5>{{this.products.name}}</h5>
</div>
<div class="col-8">
  <div class="row mt-4">
<div class="col-md-6">
 
  <div class="inline-block"><h5 style="color: grey;">{{this.products.price}} x <button  class="qty-btn " onclick="changeQuantiy('{{this._id}}','{{this.products._id}}',-1)">-</button> <span id="{{this.products._id}}"> {{this.quantity}}  </span> <button class="qty-btn " onclick="changeQuantiy('{{this._id}}','{{this.products._id}}',1)">+</button></h5><br></div>
  <h3><i class="icofont-rupee"></i><span id="{{this.products._id}}price">{{this.netprice}}</span></h3>
 
</div>
<div class="col-md-6 mt-4">
 
  <a type="button" class="remove-btn ml-5" href='/remove-cart-product/{{this.products._id}}' onclick="return confirm('Are you sure delete {{this.products.name}}?')">Remove</a></div>

</div>
</div>
</div>
 {{/each}}
 </div>
<div class="col-md-3 align-text-center">
  <h2>Total Price</h2>
  <h2><i class="icofont-rupee"></i><span id="total">{{carttotal}}</span></h2>
 <a href="/placeorder" class="btn-4 btn-4a icon-arrow-right">Order Now</a>
</div>

</div>
</div> 
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function changeQuantiy(cartid,proid,count){
    let price=proid.concat('price')
    let quantity=parseInt(document.getElementById(proid).innerHTML)
    let netprice=parseInt(document.getElementById(price).innerHTML)
    let total=parseInt(document.getElementById('total').innerHTML)
    let Oneprice=netprice/quantity
    $.ajax({
      url:"/changeQuantity",
      data:{
        cart:cartid,
        product:proid,
        count:count,
        quantity:quantity,
      },
      method:'post',
      success:(response)=>{
        if(response.emptycart){
          alert("Product removed from Cart")
          location.reload()
        }
        else{
          count=parseInt(count)
          document.getElementById(price).innerHTML=netprice+Oneprice*count
          document.getElementById(proid).innerHTML=quantity+count
          document.getElementById('total').innerHTML=total+Oneprice*count
        }
      }

    })
  }
</script>
 {{else }}
 <section>
    
      <div  style="text-align: center; padding:70px" >
      
       
     <i class="icofont-fast-food " style="font-size: 200px; color:grey" ></i><br>
     <h3 style="font-weight: bold; color:grey">CART IS EMPTY</h3>
     <h6 style="color: grey;">ADD SOME COOKIES</h6>
      
      
      </div>
    
</section>
{{/if}}